body {
    width: 280px;
    height: 550px;
    white-space: nowrap;
    text-align: center;
    background-color: white;
    /*background-color: #d6d6c240;*/
    /*  background-color: #d6d6c2;*/

}

h1 {
    font-size: 15px;
}

#container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.center-box {
    position: absolute;
    height: 58%;
    width: 90%;
    top: 16%;
    left: 10%;
}

.expire_box {
    position: absolute;
    height: 29%;
    width: 90%;
    top: 38%;
    left: 5%;

}

.sign_in_box {
    position: absolute;
    height: 46%;
    width: 90%;
    top: 26%;
    left: 5%;
    word-wrap: break-word;

}

.settings_screen {
    position: absolute;
    overflow-y: auto;
    height: 91%;
    width: 97%;
    top: 0%;
    left: 7%;
}

.ask_url {
    position: absolute;
    overflow-y: auto;
    height: 96%;
    width: 100%;
    top: 2%;
    left: 5%;
}

.log_div {
    position: absolute;
    bottom: 45%;
    background: #eae4e4;
    text-align: center;
    width: 94%;
    border-radius: 14px;
    left: 3%;
    height: 68px;
    z-index: 1;

}

.invisible {
    display: none;
}

.list_numbers {
    position: absolute;
    top: 37%;
    text-align: center;
    width: 80%;
    height: 32%;
    left: 10%;

}

.list_background {
    background-color: #D5F5E3;
}

.client_name_field {
    position: absolute;
    top: 4%;
    height: 13%;
    width: 100%;
    left: 4%;
}

.status-btn {
    position: absolute;
    top: 0px;
    right: 4%;
}

.set_url_or_skip {
    width: 49%;
}

.client_name {
    color;
    green;
    /*position: absolute;
    top: 2%;
    left: 5%;*/
}

/********************************************************************************/

#wrapper {
    width: 236px;
    height: 348px;
    /*height: 354px;*/
    margin: 0 auto 0 auto;
    position: relative;
    top: 105px;
    left: 3%;
    padding: 5px 0 0 0;

}

.key {
    border-radius: 50px 50px 50px 50px;
    color: #444;
    width: 65px;
    height: 65px;
    text-align: center;
    font-size: 30px;
    float: left;
    box-sizing: border-box;
    padding: 8px 0px 0px 0px;
    margin: 0px 4px 4px 4px;
    border: 1px solid #444;
    cursor: pointer;
}

.key span {
    display: block;
    color: #444;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    top: -11px;
}

.key.special {
    line-height: 60px;
}

.key.nb {
    border: none;
}

.key.phone {
    background: #5CDB74;
    border: none;
    color: #FFF;
    line-height: 60px;
    font-size: 40px;
}

.clear {
    clear: both;
}

.number_box {

    border: 0;
    box-shadow: none;
    position: absolute;
    top: 9%;
    left: 15%;
    text-align: center;
    background: none;
    font-size: 20px;
    width: 70%;
}

.bottom_buttons {
    position: absolute;
    bottom: 0px;
    height: 9%;
    /*height: 7%;*/
    width: 100%;
    left: 0px;

}

.bottom_button {
    height: 100%;
    width: 33.333%;

    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    border: 0px solid #afa6a2;
}

.call_screen {
    position: absolute;
    top: 90px;
    left: 0px;
    width: 100%;
    height: 60%;
}

.call_screen #incoming_alert {
    padding-top: 50px;
}

.call_screen .answer {
    position: absolute;
    top: 65%;
    left: 14%;
}

.call_screen .hangup {
    position: absolute;
    top: 65%;
    left: 59%;
}

.back_space {
    position: absolute;
    top: 10.4%;
    right: 0%;
    border: none;
    background: none;
}

.dial_num {
    position: absolute;
    left: 15%;
    width: 70%;
    top: 178px;
}

.fa-rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.call_log {
    position: absolute;
    height: 86%;
    top: 5%;
    width: 100%;
    left: 0%;

}

.log_item {
    height: 55px;
    width: 88%;
    position: relative;
    left: 11.5%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid black;
    /*background: #b9b3b2;*/
}

.log_item:hover {
    cursor: pointer;
}

.log_num {
    position: absolute;
    left: 0px;
}

.log_time {
    position: absolute;
    right: 1%;
    top: 33%;
}

.log_dir {
    position: absolute;
    top: 35%;
    left: -8%;
}

.log_name {
    position: absolute;
    left: 2px;
    top: 27px;
    font-size: 16px;
}

input[type="text"]:disabled {
    background: none;
}

.help_url {
    display: inline-block;
    border: 1px solid #46a9a7;
    border-radius: 13px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.help_url b {
    position: relative;
    top: -2px;
}

#recent_log .list-group-item:last-child {
    margin-bottom: 0;
    border-bottom: 0px;
}

.zoho_pwd {
    float: right;
    position: relative;
    top: -31px;
    left: 27px;
    cursor: pointer;
}

.token {
    float: right;
    position: relative;
    top: -31px;
    left: -2px;
    cursor: pointer;
}

/*AUTO CALL SWITCH TOGGLE BUTTON STARTS*/
.auto-call{
    font-weight: bold;
    color: #000;
    float: left;

}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px; 
    margin-left: 75px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: #bfbfbf;
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
    left: 15px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
    background: #449d44;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left:42px;
    background: #449d44;
}
/*AUTO CALL SWITCH TOGGLE BUTTON ENDS*/