body {
  text-align: center;
  margin: 0;
   background-color: #d6d6c2;
 /* background: url(logo.png) top center no-repeat, url(whitey.png) center top repeat;*/
}
.button {
  display: inline-block;
  border-radius: 3px;
  background-color: #607D8B;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
}

.log { background: #37474f;  color: #FFFFFF;}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -10px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 10px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

input {
  display: block;
  margin: 5px auto 0 auto;
  outline: none;
  border: 1px solid #999;
  line-height: 1.4em;
  font-size: 18px;
  padding: 2px;
  width: 206px;
}



.outerboarder{
display: inline-block;
padding: 2px 30px 30px 30px;
}
.wboarder{
background-color: white; 
padding: 10px 30px 30px 30px;
}
.statusbar{
width: 200px;
background-color: #269900 ;
float: right;
font-weight: bold;
}
.innerborder{
padding: 0px 0px 30px 0px;
}

.calldirection{
display: inline-block;
height:40px;
background-color: #ebebe0 ;
float: left;
font-weight: bold;

}
.wrapper{
background-color:white;
width: 300px;
border-radius: 25px;
border: 2px solid #ebebe0;

}
.infocontainer{
display: inline-block;
}

.callcontrol{
display: inline-block;
vertical-align:middle;
background-color: Transparent;
border: none; 
cursor:pointer;
border:none;
overflow: hidden;
outline: none;

}
.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_circle {
    position: absolute;
    width:22px;
    height:22px;
    background-color: #fff;
    border-radius:11px;
    left:0;
    top:0;
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color: green;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color: green;
    left:8px;
    top:12px;
}
.numbers{
    width:30px;
height:30px;

}
.controls{
 width:70px;
height:30px;
}









